.positionC {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(1.1px, 1.1px);
  filter: brightness(0);
  width: 100vw;
  height: 100vh;
  z-index: '9999999999999';
  pointer-events: none;
}
