.dragBox {
  position: relative;
  z-index: 2;
  width: max-content;
  height: max-content;
  background-color: skyblue;
  border-radius: 8;
  display: block;
  align-items: center;
  justify-content: center;
  cursor: grab;
  transition: all 0.25s ease-out;
  will-change: transform;
}

.appContainer {
  position: relative;
  width: 60px;
  height: 66px;
  z-index: 1;
}

/* .appContainer:hover > .nodeContainerIcon,
.appContainer:hover > .appContainerIcon,
.appContainer:focus-within > .nodeContainerIcon,
.appContainer:focus-within > .appContainerIcon {
  z-index: 9999;
} */

/* ***************** */

/* .appContainer:hover .nodeContainerIcon g path,
.appContainer:focus-within .nodeContainerIcon g path {
  fill-opacity: 1;
  fill: #141228;
}

.appContainer:hover .appContainerIcon path,
.appContainer:focus-within .appContainerIcon path {
  fill-opacity: 0.2;
  fill: #ffffff;
} */

/* .appContainer:hover .nodeContainerIcon g path {
  transition-delay: 0.2s;
  fill-opacity: 1;
  fill: #141228;
}

.appContainer:hover .appContainerIcon path {
  transition-delay: 0.2s;
  fill-opacity: 0.2;
  fill: #ffffff;
} */



/* استایل‌ها در هنگام درگ */
.dragActive .nodeContainerIcon g path {
  fill-opacity: 1;
  fill: #141228;
}

.dragActive .appContainerIcon path {
  fill-opacity: 0.2;
  fill: #ffffff;
}

/* غیرفعال کردن استایل هاور برای آیتم‌هایی که در حال درگ نیستند */
.noHover:hover {
  pointer-events: none;
}

/* استایل هاور فقط وقتی که درگ فعال نیست */
.appContainer:hover:not(.noHover) .nodeContainerIcon g path {
  fill-opacity: 1;
  fill: #141228;
}

.appContainer:hover:not(.noHover) .appContainerIcon path {
  fill-opacity: 0.2;
  fill: #ffffff;
}



.nodeContainerIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.appContainerIcon {
  position: absolute;
  top: 0px;
  right: 9.8px;
}

/* .dd {
  filter: invert(1);
} */

.dd2 {
  margin-top: -30px;
}
