.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hi {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.hi2 {
  filter: invert(1);
  position: relative;
  height: 100%;
  /* height: max-content; */
  /* height: 1200px; */
}

.hi3 {
  filter: invert(1);
  background-color: red;
  width: 100%;
  height: 100%;
}