:root {
  --font-yekanBakh: var(--font-yekanBakh);
  --font-kahroba: var(--font-kahroba);
  --font-cairo: var(--font-neustadt);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: ltr;
  /* direction: rtl; */
  /* cursor: none; */
}

body {
  font-family: var(--font-yekanBakh), sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 800, 'DOTS' 1, 'CNTR' 40;
  color: black;
  background: #f8f9fa;
}

/* 'wght' 400,   Weight: تنظیم وزن */
/* 'wdth' 100,   Width: تنظیم عرض */
/* 'ital' 0,     Italic: حالت ایتالیک */
/* 'slnt' 0,     Slant: تنظیم شیب فونت */
/* 'opsz' 16,    Optical Size: تنظیم اندازه اپتیکال */
/* 'GRAD' 50,    Gradient: تنظیم گرادینت */
/* 'XTRA' 500,   Width Axis: تنظیم عرض اضافی */
/* 'XOPQ' 120,   Opacity Axis: تنظیم شفافیت */
/* 'YOPQ' 80,    Y Opacity Axis: تنظیم شفافیت در محور Y */
/* 'YTLC' 512,   Lowercase Top Axis: تنظیم حروف کوچک */
/* 'YTUC' 540,   Uppercase Top Axis: تنظیم حروف بزرگ */
/* 'YTAS' 750,   Ascender Axis: تنظیم ارتفاع صعودی */
/* 'YTDE' -250,  Descender Axis: تنظیم ارتفاع نزولی */
/* 'YTFI' 500;   Figure Axis: تنظیم ارقام */

* {
  cursor: url('../../public/cursors/main-cursor.png'), auto;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none; /* برای مرورگرهای وب‌کیت */
  user-drag: none;
  user-select: none; /* غیرفعال کردن انتخاب متن */
  transition: all 0.2s ease-out;
  color: inherit;
  text-decoration: none;
  outline: none;
  ::-webkit-scrollbar {
    width: 0px; /* عرض اسکرول‌بار */
    height: 0px; /* ارتفاع اسکرول‌بار برای حالت اسکرول افقی */
  }

  * p {
    -webkit-user-drag: auto; /* برای مرورگرهای وب‌کیت */
    user-drag: auto;
    user-select: auto; /* غیرفعال کردن انتخاب متن */
  }

  /* استایل‌دهی به پس‌زمینه اسکرول‌بار */
  ::-webkit-scrollbar-track {
    background: none; /* رنگ پس‌زمینه */
    border-radius: 0px; /* گرد کردن گوشه‌ها */
  }

  /* استایل‌دهی به خود دستگیره اسکرول‌بار */
  ::-webkit-scrollbar-thumb {
    background: none; /* رنگ دستگیره */
    border-radius: 0; /* گرد کردن گوشه‌ها */
  }

  /* استایل‌دهی به دستگیره اسکرول‌بار هنگام هاور */
  ::-webkit-scrollbar-thumb:hover {
    background: none; /* تغییر رنگ دستگیره هنگام هاور */
  }

  /* استایل‌دهی به گوشه‌های اسکرول‌بار */
  ::-webkit-scrollbar-corner {
    background: none; /* رنگ گوشه‌های اسکرول‌بار */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kahroba);
  font-variation-settings: 'wdth' 100, 'wght' 400, 'DOTS' 1;
}

.toast {
  border: none;
  font-variation-settings: 'wdth' 98, 'wght' 400, 'DOTS' 1;
  border-radius: 0px;
  width: max-content !important;
  height: max-content !important;
  background: none !important;
  box-shadow: none !important;
  bottom: 26px !important;
    left: 42px !important;
}

.toast2 {
  /* width: max-content !important;
  margin: 0 !important;
  padding: 0 !important; */
  /* height: 259px !important; */
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  backdrop-filter: blur(0px);
  border-radius: 30px !important;
  animation: animation 0.4s forwards ease-out;
  animation-delay: 0.1s;
  background: rgba(0, 0, 0, 0.3) !important; 
  /* margin-bottom: 10px !important; */
}

@keyframes animation {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(30px);
  }
}

.toast3 {
  /* width: max-content !important; */
  /* height: max-content !important; */
  /* margin: 0 !important; */
  /* padding: 0 !important; */
  background: none !important;
  /* margin-top: 20px !important; */
  box-shadow: none !important;
  padding: 0 !important;
}

.toast4 {
  display: none !important;
}
