.container {
  display: flex;
  position: absolute;
  width: max-content;
  height: max-content;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  overflow: visible;
}

.sliderContainer {
  position: relative;
  width: max-content;
  /* padding-top: 20px; */
  pointer-events: all;
  /* background-color: red; */
  /* background-color: rgba(0, 128, 0, 0.438); */
}

.navigationButton {
  position: absolute;
  top: 32px;
  width: 27px;
  height: 27px;
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevButton {
  left: -34px;
}

.nextButton {
  left: unset;
  right: -34px;
}

.slideItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.imageContainer {
  margin-top: 23px;
  position: relative;
  border: 2px solid #ffd700;
  border-radius: 15px;
  overflow: hidden;
  width: 40px;
  height: 45px;
}

.imageContainer2 {
  border: 2px solid #00383A;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ffd700;
  color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.label {
  font-size: 13px;
  color: #666;
  text-align: center;
  line-height: 1.1;
}

/* Swiper custom styles */
/* 5 slides * 130px each */
.swiperContainer {
  width: 305px;
  margin: 0 auto;
}


.dots {
  position: absolute;
  top: 45px;
  right: 0;
  width: 100%;
  left: 0;
}

.selectedItemContent {
  width: 332px;
}

.selectedItemContent img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
}
