.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 1;
}

.rightWidgets,
.leftWidgets {
  width: 100%;
  height: max-content;
  background-color: none;
  pointer-events: all;
  align-content: flex-end;
  padding: 20px;
}

.rightWidgets {
  direction: rtl;
}

.rightWidgets:hover,
.leftWidgets:hover {
  filter: brightness(1.3);
}
